{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "classes": true,
    "modules": true
  },
  "rules": {
    "no-debugger": 0,
    "no-console": 0,
    "eqeqeq": 1,
    "space-after-keywords": 0,
    "max-len": 0,
    "indent": [2, 4],
    "padded-blocks": 0,
    "comma-dangle": 0,
    "key-spacing": 0,
    "new-cap": 0,
    "strict": [2, "global"],
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "eol-last": 0,
    "quotes": 0,
    "semi": [2, "never"],
    "space-infix-ops": 0,
    "space-in-parens": 0,
    "no-trailing-spaces": 0,
    "no-multi-spaces": 0,
    "no-alert": 0,
    "no-undef": 2,
    "func-names": 0,
    "space-before-function-paren": [2, "never"],
    "no-unused-vars": 0,
    "react/jsx-boolean-value": 1,
    "react/jsx-curly-spacing": 0,
    "react/jsx-indent-props": [2, 4],
    "react/prefer-es6-class": [1, "always"],
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-no-bind": 0,
    "react/jsx-closing-bracket-location": 0
  },
  "globals" : {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  }
}